.faq {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0 0 4px;
  font-size: 20px;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.item {
  overflow: hidden;

  &::after {
    background-color: var(--background);
  }
}

.question {
  font-size: 16px;
  font-weight: 700;
}

.answer {
  font-size: 15px;
  line-height: 1.5;
}
