.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0;
}

.intro {
  margin: 0;
  line-height: 1.5;
}
