.related {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0 0 4px;
  font-size: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  @include mediaSmMax {
    grid-template-columns: 1fr;
  }
}
